<h1> Fsd-certification-test</h1>
<div class="container h-100 mt-5">
<div class="row justify-content-center align-items-center">
<div class="card" style="width: 23rem;">
    <div class="card-body">
    <h3 class="card-title" style="text-align:center">SignUp</h3><hr>
    <form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit(signUpFormGroup.value)">
      <div class="form-group">



        <label for="Email" class="font-weight-bold">Email</label>
        <input type="email" class="form-control" [ngClass]="{'is-invalid':formValidations.email.invalid && (formValidations.email.touched || formValidations.email.dirty)}" id="InputEmail" placeholder="Enter Email" formControlName="email">
        <div class="invalid-feedback" *ngIf="formValidations.email.invalid && (formValidations.email.touched || formValidations.email.dirty)">
            <div *ngIf="formValidations.email.errors.required">
                Email is required
            </div>
            <div *ngIf="formValidations.email.errors.pattern">
                Email must be valid
            </div>
        </div><br>



        <label for="Password" class="font-weight-bold">Password</label>
        <input type="password" class="form-control" [ngClass]="{'is-invalid':formValidations.password.invalid && (formValidations.password.touched || formValidations.password.dirty)}" id="InputPassword" placeholder="Enter Password" formControlName="password">
        <div class="invalid-feedback" *ngIf="formValidations.password.invalid && (formValidations.password.touched || formValidations.password.dirty)">
            <div *ngIf="formValidations.password.errors.required">
                Password is required
            </div>
            <div *ngIf="formValidations.password.errors.pattern">
                Pattern didn't match
            </div>
        </div><br>


        <label for="Gender" class="font-weight-bold">Gender</label>
        <div class="radio">
            <label><input id="GenderMale" type="radio" value="male" name="gender" formControlName="gender">&nbsp;Male</label>
        </div>
        <div class="radio">
            <label><input id="GenderFemale" type="radio" value="female" name="gender" formControlName="gender">&nbsp;Female</label>
        </div>



        <label for="Age" class="font-weight-bold">Age</label>
        <input type="number" class="form-control" [ngClass]="{'is-invalid':formValidations.age.invalid && (formValidations.age.touched || formValidations.age.dirty)}" id="InputAge" placeholder="Enter Age" min=1 formControlName="age">
        <div class="invalid-feedback" *ngIf="formValidations.age.invalid && formValidations.age.touched">    
            <div *ngIf="formValidations.age.errors.required">
                Age is required
            </div>
            <div *ngIf="formValidations.age.errors.min">
                Age cannot be less than 10
            </div>
        </div><br>

        <a id="login" routerLink="/">Already have an account?</a>

        
        <button name="submitButton" [disabled]="signUpFormGroup.invalid" type="submit" class="btn btn-success float-right">Sign Up</button>&nbsp;
    </div>
</form>
</div>
</div>
</div>
</div>