<div class="container h-100 mt-5">
<div class="row h-100 justify-content-center align-items-center">
<div class="card" style="width: 23rem;">
    <div class="card-body">
    <h3 class="card-title" style="text-align:center">SignUp</h3><hr>
    <form [formGroup]="signUpFormGroup" (ngSubmit)="onSubmit(signUpFormGroup.value)">
      <div class="form-group">
        
        <label for="Email" class="font-weight-bold">Email</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Enter Email" formControlName="email"><br>
        <div *ngIf="formValidations.email.errors.pattern">
          Pattern didn't match
        </div>
        <label for="Password" class="font-weight-bold">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Enter Password" formControlName="password"><br>

        <label for="Gender" class="font-weight-bold">Gender</label>
        <div class="radio">
            <label><input type="radio" value="male" name="gender" formControlName="gender">&nbsp;Male</label>
        </div>
        <div class="radio">
            <label><input type="radio" value="female" name="gender" formControlName="gender">&nbsp;Female</label>
        </div>
        
        <label for="Age" class="font-weight-bold">Age</label>
        <input type="number" class="form-control" id="InputAge" placeholder="Enter Age" min=1 formControlName="age"><br>
        <a routerLink="/">Already have an account?</a>
        <button type="submit" class="btn btn-success float-right">Sign Up</button>&nbsp;
    </div>
</form>
</div>
</div>
</div>
</div>