<div class="container h-100 mt-5">
<div class="row h-100 justify-content-center align-items-center">
<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h3 class="card-title" style="text-align:center">Login</h3><hr> 
    <form [formGroup]="loginFormGroup" (ngSubmit)="onLogin(loginFormGroup.value)" class="col-12">
      <div class="form-group">
        
        <label for="Email" class="font-weight-bold">Email</label>
        <input type="email" class="form-control" id="InputEmail" placeholder="Enter email" formControlName="email"><br>
     
        <label for="Password" class="font-weight-bold">Password</label>
        <input type="password" class="form-control" id="InputPassword" placeholder="Enter Password" formControlName="password"><br>
        <a routerLink="/signup">Don't have an account?</a>
        <button type="submit" class="btn btn-success float-right">Login</button>
      </div>
    
    </form>   
  </div>
</div>
</div>
</div>